NODE_ENV=development
PORT=3000

# MongoDB
MONGODB_URI=mongodb://localhost:27017/vibed

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Resend
RESEND_API_KEY=
MAIL_FROM_NAME=Vibed
MAIL_FROM_EMAIL=noreply@vibed.app

# App
APP_URL=http://localhost:3000
APP_NAME=Vibed
